@font-face {
  font-family: "Fellix";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/custom/extra-bold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fellix";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/custom/bold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fellix";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/custom/semibold.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fellix";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/custom/medium.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "Fellix";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/custom/regular.woff2") format("woff2");
  font-display: fallback;
}

.font-custom-sans {
  font-family: "Fellix", "Helvetica Neue", "IBM Plex Sans", "sans-serif";
}
